fastapi>=0.103.0
uvicorn[standard]>=0.23.2
sqlalchemy>=2.0.20
asyncmy>=0.2.8
alembic>=1.12.0
pydantic>=2.3.0
pydantic-settings>=2.0.3
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.6
websockets>=11.0.3
